<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/commons :: common-structure(~{::div.home-body})">
<div class="home-body">
<h1>HOME PAGE</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/home}">Home</a>
            </li>
            <li class="breadcrumb-item" th:each="entry : ${hierarchy}">
                <a th:href="@{home(path=${entry.value})}">
                    <span th:text="${entry.getKey()}"></span>
                </a>
            </li>
        </ol>
    </nav>
    <form th:method="POST" th:action="@{/home}" enctype="multipart/form-data">
        <input type="hidden" name="path" th:value="${path}" />
        <table>
            <tr>
                <td><label>Select a file to upload</label></td>
                <td><input type="file" name="file" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
    <div th:replace="fragments/home-fragments :: homeFragment(${items})"></div>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout">
    </form>
</div>
</html>