<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/commons :: common-structure(~{::div.home-body})">
<div class="home-body">
<h1>HOME PAGE</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a th:href="@{/home}">Home</a>
            </li>
            <li class="breadcrumb-item" th:each="entry : ${hierarchy}">
                <a th:href="@{home(path=${entry.value})}">
                    <span th:text="${entry.getKey()}"></span>
                </a>
            </li>
        </ol>
    </nav>


    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newFileModal">
        New file
    </button>

    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newFolderModal">
        New folder
    </button>

    <div th:replace="fragments/home-fragments :: newFileModal(path=${path})"></div>


    <div th:replace="fragments/home-fragments :: newFolderModal(path=${path})"></div>


    <div th:replace="fragments/home-fragments :: homeFragment(${items})"></div>
    <form th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout">
    </form>
</div>
</html>